body {
  padding-top: 10px;
  text-align: center;
  background-color: #778578;
}

.container {
  width: 300px;
  padding: 10px;
  text-align: center;
}
.button1 {
  background: #8e7ba7;
  width: 176px;
  height: 178px;
  left: 54px;
  top: 127px;
  border-radius: 50%;

  font-family: Shrikhand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #faf6f6;
}
.calendarCenter{
  display: block;
  margin-left: 200;
  margin-right: 300;
  align-content: center;
}
