body {
  padding-top: 10px;
  text-align: center;
  background-color: #778578;
}

.container {
  width: 300px;
  padding: 10px;
  text-align: center;
}
.button1 {
  background: #8e7ba7;
  width: 176px;
  height: 178px;
  left: 54px;
  top: 127px;
  border-radius: 50%;

  font-family: Shrikhand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #faf6f6;
}
.calendarCenter{
  display: block;
  margin-left: 200;
  margin-right: 300;
  align-content: center;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 20px;
  background: #D096EC;
  font-size: 14px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #DC9EFA;
}

/* Darker background-color on hover */
ul li:hover {
  background: #C0A8CB;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #8E7BA7;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


/* Style the header */
.header {
  /*background-color: #f44336;*/
  padding: 30px 40px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* This is for the radio buttons */
.addBtn:hover {
  background-color: #bbb;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background: #DC9EFA;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}